<a href="https://colab.research.google.com/github/YahiaML/String-scraping/blob/main/Extract_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
import pandas as pd
import re

In [101]:
df =pd.read_excel("/content/sms.xlsx")

In [102]:
df.head()

                                            SMS Text Telecom Provider
0  عزيزي العميل قد تم دفع مبلغ 1247 جنيها يوم 02/...         etisalat
1  تم تجديد باقه الانترنت limited 12 GB لديك 12 ج...           orange
2  تم شحن باقه احسن ناس 10 لديك 450 وحده صالحه لم...           orange
3  لقد تم دفع مبلغ 500.0 جنيها في حسابك بنجاح يوم...           orange
4  قيمه الفاتوره المستحقه الان: 1067.58ج تقدر تدف...           orange

In [103]:
# check if the value is float
def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False

# get the balance
for text in df["SMS Text"]:
  if "مبلغ" in text:    
    index = text.find("مبلغ") + len("مبلغ")
    remain = text[index:]
    balance =  remain.split(" ")[0:2]    

    for val in balance:
      if val.isdigit() or isfloat(val):
        print("\nBalance = ", val)

      elif val.replace("ج", "").isdigit() or isfloat(val.replace("ج", "")) :
        print("\nBalance = ", val.replace("ج", ""))

Balance =  1247

Balance =  500.0

Balance =  71.50

Balance =  71.50

Balance =  71.50

Balance =  71.50

Balance =  71.50

Balance =  71.50

Balance =  11.00